body {
  background-color: #fdcbd6;
}

h1 {
    font-size: 3em;
    background-color: rgba(109, 40, 217, 0.15);
}

* {
  box-sizing: border-box;
}

.karte {
    width: 25rem;
    padding: 2rem;
    border: 2px solid #d9285d;
    border-radius: 3rem;
    background-color: #82bfb7;
    color: #fcded3;
}

footer {
    color: #f0f9f8;
}